<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addawareness#about">
    <table class="table table-stripe table-hover"  width="376" border="1">
    <tr class="table-dark">
      <th height="24" scope="row">Details</th>
      <th>Venue</th>
      <th>Time</th>
      <th>Date</th>
      <th>&nbsp;</th>
      </tr>

{% for i in val %}

    <tr>
      <td scope="row">{{i['Details']}}</td>
      <td scope="row">{{i['Venue']}}</td>
      <td scope="row">{{i['Time']}}</td>
      <td scope="row">{{i['Date']}}</td>

      <td><p><a href="editawareness?id={{i['A_id']}}#about">Edit</a></p>
      <p><a href="deleteawareness?id={{i['A_id']}}#about">Delete</a></p></td>
      </tr>
  <tr>
    {% endfor %}

    <tr align="center">
    <td colspan="5">
      <input type="submit" value="add" class="btn btn-success" required/>
<!--      <button type="button" class="btn btn-danger">Add</button>-->
    </td>
  </tr>

  </table>

</form>
</body>
<!--</html>-->
{% endblock %}
